app/adicionales/Demo FEL Tfhka CSharp_V1.2/DemoGenFactura_int_tfhka_fel/Service References/ServiceDemoEnviarArchivo/Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.ResponseFile" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.ResponseFile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FileUploadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileUploadResponse" nillable="true" type="tns:FileUploadResponse" />
</xs:schema>