app/adicionales/Demo FEL Tfhka CSharp_V1.2/DemoGenFactura_int_tfhka_fel/Service References/ServiceDemoEnviarArchivo/Service41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.wsEmision.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.wsEmision.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="uploadAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="archivo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="enviar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="formato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tokenEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tokenPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="uploadAttachment" nillable="true" type="tns:uploadAttachment" />
</xs:schema>